<section id="about-section" class="px-6 pb-8 flex flex-col gap-10">
  <div class="border-b border-[#C4C5C9] py-4">
    <h2 class="text-2xl uppercase">About</h2>
  </div>
  <div class="text-justify">
    <p class="text-sm">
      Dynamic Software Engineer adept at swiftly mastering new technologies and
      frameworks, I bring strong problem-solving abilities and a collaborative
      spirit to every project. Passionate about leveraging my skills to drive
      impactful software solutions.
    </p>
  </div>
</section>
