---
import { ArrowUpRight } from "lucide-astro";
---

<div class="px-6 py-10 flex flex-col gap-10">
  <h2 class="text-2xl">Contact Me</h2>

  <div class="flex flex gap-4">
    <button class="border-b border-white p-1">tfthoo@gmail.com</button>
    <button class="border-b border-white flex py-1 pl-1 gap-1 items-center">
      Github
      <ArrowUpRight class="w-4 h-4" />
    </button>
    <button class="border-b border-white flex py-1 pl-1 gap-1 items-center">
      LinkedIn
      <ArrowUpRight class="w-4 h-4" />
    </button>
  </div>
</div>
