---
import { HeaderMenu } from "./header-nav/HeaderMenu";
---

<div class="py-8 px-6 flex justify-between items-start">
  <div class="text-sm">
    <p>Based in</p>
    <p>Kuala Lumpur, Malaysia</p>
  </div>

  <div class="block md:hidden">
    <HeaderMenu client:visible />
  </div>

  <div class="hidden md:flex space-x-10">
    <a class="uppercase hover:cursor-pointer">About</a>
    <a class="uppercase hover:cursor-pointer">Projects</a>
    <a class="uppercase hover:cursor-pointer">Contact</a>
  </div>
</div>
