<div class="min-h-10 max-h-[70vh] h-full flex flex-col">
  <div class="px-10 h-full flex flex-col justify-center">
    <h2 class="text-4xl uppercase">edmund</h2>
    <h2 class="text-4xl uppercase">thoo</h2>
  </div>
  <div class="px-6 h-[80px]">
      <p class="text-xs">Lorem ipsum</p>
  </div>
</div>
