---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import HeaderNav from "@/components/Homepage/HeaderNav.astro";
import HeroSection from "@/components/Homepage/HeroSection.astro";
import AboutSection from "@/components/Homepage/AboutSection.astro";
import ProjectSection from "@/components/Homepage/ProjectSection.astro";
import FooterNav from "@/components/Homepage/FooterNav.astro";
---

<Layout>
  <HeaderNav />
  <div class="w-full max-w-screen lg:max-w-[1440px] h-full mx-auto">
    <HeroSection />
    <AboutSection />
    <ProjectSection />
  </div>
  <FooterNav />
</Layout>
